.page-profile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.page-profile .profile-background {
    position: absolute;
    top: 0;
    z-index: -10;
    filter: blur(100px);
    /* background: no-repeat center/cover url('/src/res/back.jpeg'); */
    width: 100%;
    height: 100%;
}

.page-profile .ctn-profile {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 1000px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 0px 10px #9469;
    background: linear-gradient(rgb(238, 242, 255), #ffe);
}

@media (width > 1200px) {
    .page-profile .ctn-profile {
        border-radius: 20px;
    }
}

.page-profile .ctn-profile .profile-top {
    min-height: 60px;
    width: 100%;
    background: #345;
    display: flex;
    align-items: center;
}

.page-profile .close {
    position: absolute;
    top: 20px;
    right: 15px;
    /* filter: invert(); */
    background: no-repeat center/cover url(/src/res/x.png), rgba(255, 255, 255, 0.37);
    width: 30px;
    height: 30px;
    border-radius: 100px;
    transition: 200ms;
    z-index: 10;
}

.page-profile .close:hover {
    transition: 200ms;
    background: no-repeat center/cover url(/src/res/x.png), rgb(184, 184, 184);
}

.page-profile .show-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.page-profile .show-photo .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.767);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-profile .show-photo .photo {
    width: 80%;
    height: 80%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff0;
    background-position: center;
}

.page-profile .nav-back:hover {
    background: no-repeat center/cover url('/src/res/arrow-left.png'), #3333;
}

.page-profile.min .nav-back {
    rotate: 180deg;
}

.page-profile .nav-back {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 10;
    top: 10px;
    left: 10px;
    border-radius: 50px;
    display: none;
    background: no-repeat center/cover url('/src/res/arrow-left.png'), #3331;
}

.page-profile .profile-nav {
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    background: #fff;
}

.page-profile .profile-nav .profile-photo {
    transform: scale(.7)
}

.page-profile .profile-nav .info {
    font-weight: bold;
}

.page-profile .profile-nav .img {
    width: 100%;
    height: 190px;
    min-height: 190px;
    transform: translate(0, -50px);
    background: no-repeat center/cover url(/src/res/img/pngegg.png);
}


.page-profile .profile-nav ul {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    transform: translateY(-100px);
}

.page-profile .profile-nav li {
    all: unset;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    transition: 300ms;
    color: #444444f8;
    cursor: pointer;
    margin-top: 5px;
}

.page-profile .profile-nav li:hover {
    background: #e0c0e47a;
    transition: 300ms;
    color: #252525f8;
}

.page-profile .profile-nav li.active {
    background: #e0c0e47a;
    color: #252525f8;
}

.page-profile .profile-nav li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin:0 10% 0 22%;
    opacity: 0.5;
}

.page-profile .profile-nav li span.profile {
    background: no-repeat center/80% url(/src/res/circle-user-round.png);
}

.page-profile .profile-nav li span.command {
    background: no-repeat center/80% url(/src/res/box.png);
}

.page-profile .profile-nav li span.cart {
    background: no-repeat center/80% url(/src/res/shopping-cart.png);
}

.page-profile .profile-nav li span.service {
    background: no-repeat center/80% url(/src/res/headset.png);
}

.page-profile .profile-nav li span.about {
    background: no-repeat center/80% url(/src/res/store.png);
}

.page-profile .profile-nav .logout {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 7px;
    transition: 300ms;
    color: #444444f8;
    cursor: pointer;
    margin: 0 15px;
    margin:0 10% 0 22%;
}

.page-profile .profile-nav .logout:hover {
    background: rgb(233, 190, 190);
}

.page-profile .profile-nav .logout span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 30px;
    opacity: 0.5;
    background: no-repeat center/80% url(/src/res/log-out.png);
}

.page-profile .ctn-pages {
    width: 100%;
    position: relative;
    /*
    height: 100%;
    transition: 200ms; */
}

.page-profile .profile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background:#3455;
    z-index: 2;
}

@media (width >= 850px) {
    .page-profile .profile-back{
        display: none;
    }
}
@media (width < 850px) {
    .page-profile .nav-back {
        display: block;
    }

    .page-profile .profile-nav {
        position: absolute;
    }

    .page-profile.min .profile-nav {
        display: none;
    }
    .page-profile.min .profile-back{
        display: none;
    }
}

@media (width < 550px) {
    .page-profile .profile-nav {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}