.selector {
    height: 40px;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: #3453 solid 1px;
    background: #fff;
    
}

.sombre-mode-variable .selector {
    color: #345;
}
.selector .selector-label {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.selector > div.icon{
    width: 30px;
    height: 30px;
    background: no-repeat center /cover url(/src/res/chevron-down2.png);
}


/* SELECTOR LIST */
.selector-list {
    box-shadow: var(--box-shadow);
    width: 150px;
    display: inline-flex;
    flex-direction: column;
    top: 40px;
    right: 0px;
    padding: 10px;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    z-index: 10;
}

.selector-list>div:hover {
    background: rgba(51, 85, 82, 0.020);
}

.selector-list>div.active {
    background: #3452;
}
.selector-list>div.active:hover {
    background: #3453;
}

.selector-list>div {
    cursor: pointer;
    display: inline-flex;
    height: 25px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    border-radius: 5px;
}
