.dash {
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--backgroung-white);
    color: var(--text-color);
    /* background: linear-gradient(40deg ,rgb(4, 0, 53),rgb(39, 20, 124)); */
}

.dash .dash-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* filter: blur(5px); */
}

.dash .dash-ctn.blur {
  filter: blur(20px);
}


.dash .center {
    width: 90%;
    max-width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash .center-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: calc(var(--center-width) - 100px);
    padding-top: 30px;
}
.dash .center-ctn{
    width: 100%;
    height: calc( 100% - 70px);
}

.dash .page-path {
    width: 100%;
    display: flex;
    align-items: center;
}

.dash .page-path .path {
    display: flex;
    align-items: center;
}


.dash .page-path .path .label {
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.dash .page-path .path .label > span {
    display: inline-block;
    background: #4565;
    width: 100%;
    transform: scale(0);
    height: 1px;
    transition: 200ms;
}
.dash .page-path .path .label:hover > span{
    background: #4565;
    transform: scale(1);
    transition: 200ms;
}
.dash .page-path .path .icon {
    width: 40px;
    height: 40px;
    background: no-repeat center/60% url(/src/res/chevron-right.png);
}

.dash .center-top .top-right {
    display: flex;
}

.dash .center-top .dark-mode {
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.dash .center-top .dark-mode.active {
    background: #fff6;
    transition: 200ms;
}
.dash .center-top .dark-mode {
    background: rgba(180, 180, 180, 0.4);
    transition: 200ms;
}

.dash .center-top .dark-mode .dark-mode-btn {
    font-size: 1.5em;
    background: #3450;
    border-radius: 10px;
    opacity: 0.5;
    padding: 7px;
    box-shadow:none;
    transition: 200ms;
    background: no-repeat center/70% url(/src//res/moon.png), #fff;
    width: 40px;
    height: 40px;
}
.dash .center-top .dark-mode.active .dark-mode-btn {
    background: no-repeat center/70% url(/src//res/moon.png), rgb(211, 166, 128);
    opacity: 1;
    transition: 200ms;
    box-shadow: var(--box-shadow);
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

.dash .center-top .dark-mode .dark-white-btn {
    font-size: 1.5em;
    opacity: 1;
    padding: 7px;
    background: no-repeat center/70% url(/src//res/sun.png) #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: 200ms;
    width: 40px;
    height: 40px;

}
.dash .center-top .dark-mode.active .dark-white-btn {
    opacity: 0.5;
    background: no-repeat center/70% url(/src/res/sun.png) #3450;
    box-shadow:none;
    transition: 200ms;

}


.dash.sombre-mode-variable .center-top .notf {
    filter: invert();
}
.dash.sombre-mode-variable .center-top .notf span{
    filter: invert();
}

.dash .center-top .notf {
    margin-left: 20px;
    position: relative;
    width: 40px;
    height: 40px;
    background: no-repeat center/60% url(/src/res/bell.png);
}

.dash .center-top .notf span {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 7px;
    height: 7px;
    background: #f00;
    border-radius: 50%;
    
}

.dash .child-viewer{
    position: absolute;
    width: 100%;
    height: 100%;
}
.dash .child-viewer-ctn{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}




.sombre-mode-variable .editor {
    background: #3333 !important;
}




.not-found{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.not-found .img{
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    width: 60%;
    height: 60%;
    background: no-repeat center/cover url(/src/res/not_found.jpg);
}
