.dash {
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--backgroung-white);
    color: var(--text-color);
}

.dash .dash-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 20px;
}

.dash .dash-ctn.blur {
    filter: blur(10px);
}

.dash .center {
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash .center-top {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
}

.dash .center-ctn {
    width: 100%;
    height: calc(100% - 70px);
}

.dash.sombre-mode-variable .center-top .nav-min {
    filter: invert();
}

.dash.sombre-mode-variable .center-top .nav-min-ctn {
    width: 200px;
    height: 200px;
    background: #345;
}

.dash .center-top .nav-min:hover {
    opacity: 0.5;
    transition: 200ms;
}

.dash .center-top .nav-min:active {
    transition: 200ms;
    background: no-repeat center/70% url(/src/res/align-left.png);
}

.dash .center-top .nav-min {
    margin-left: 20px;
    position: relative;
    width: 40px;
    height: 40px;
    background: no-repeat center/60% url(/src/res/align-left.png);
    transition: 200ms;
    cursor: pointer;
    display: none;
}

.dash .page-path {
    display: flex;
    align-items: center;
}

.dash .page-path .path {
    display: flex;
    align-items: center;
}

.dash .page-path .path .label {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    padding: 0;
}

.dash .page-path .path .label>span {
    display: inline-block;
    background: #4565;
    width: 100%;
    transform: scale(0);
    height: 1px;
    transition: 200ms;
}

.dash .page-path .path .label:hover>span {
    background: #4565;
    transform: scale(1);
    transition: 200ms;
}

.sombre-mode-variable .page-path .path .icon {
    filter: invert();
}

.dash .page-path .path .icon {
    width: 40px;
    height: 40px;
    background: no-repeat center/60% url(/src/res/chevron-right.png);
}

.dash .center-top .top-right {
    display: flex;
    /* position: absolute; */
    z-index: 1;
    /* top: 0; */
    margin-left: auto;
    right: 0;
    background: var(--backgroung-white);
}

.dash .center-top .dark-mode {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.dash .center-top .dark-mode.active {
    background: #fff6;
    transition: 200ms;
}

.dash .center-top .dark-mode {
    background: rgba(180, 180, 180, 0.4);
    transition: 200ms;
}

.dash .center-top .dark-mode .dark-mode-btn {
    background: #3450;
    border-radius: 10px;
    opacity: 0.5;
    padding: 7px;
    box-shadow: none;
    transition: 200ms;
    background: no-repeat center/70% url(/src//res/moon.png), #fff;
    width: 35px;
    height: 35px;
}

.dash .center-top .dark-mode.active .dark-mode-btn {
    background: no-repeat center/70% url(/src//res/moon.png), rgb(211, 166, 128);
    opacity: 1;
    transition: 200ms;
    box-shadow: var(--box-shadow);
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

.dash .center-top .dark-mode .dark-white-btn {
    font-size: 1.5em;
    opacity: 1;
    padding: 7px;
    background: no-repeat center/70% url(/src//res/sun.png) #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: 200ms;
    width: 40px;
    height: 40px;

}

.dash .center-top .dark-mode.active .dark-white-btn {
    opacity: 0.5;
    background: no-repeat center/70% url(/src/res/sun.png) #3450;
    box-shadow: none;
    transition: 200ms;
    width: 35px;
    height: 35px;
}

.dash.sombre-mode-variable .center-top .notf {
    filter: invert();
}

.dash.sombre-mode-variable .center-top .notf span {
    filter: invert();
}

.dash .center-top .notf {
    margin-left: 20px;
    position: relative;
    width: 40px;
    height: 40px;
    background: no-repeat center/60% url(/src/res/bell.png);
}

.dash .center-top .notf span {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 7px;
    height: 7px;
    background: #f00;
    border-radius: 50%;
}

.dash .child-viewer {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
}

.dash.sombre-mode-variable .child-viewer-ctn {
    background: var(--backgroung-white);
}

.dash .child-viewer-ctn {
    position: relative;
    width: 100%;
    height: 100%;
}

.sombre-mode-variable .editor {
    background: #0002 !important;
}

.not-found {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.not-found .img {
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    width: 60%;
    height: 60%;
    background: no-repeat center/cover url(/src/res/not_found.jpg);
}

@media (width < 750px) {
    .dash .center-top .nav-min {
        display: block;
    }
    .dash .dash-ctn {
        padding: 0 10px;
    }
    /*    scrollbar **/
    *::-webkit-scrollbar {
        display: none;
    }
    .dash .center-top .top-right{
        display: none;
    }
    .dash .center-top{
        padding: 0px;
    }
}

@media (width < 550px) {
    body {
        font-size: 0.9em !important;
    }
    .dash .dash-ctn {
        padding: 0 3px;
    }
}

.nav-min-ctn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav-min-ctn .nav-link{
    width: 100%;
    max-width: 400px;
    background: #345;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-min-ctn .nav-link ul{
    all:unset;
}

.nav-min-ctn .nav-link li{
    all:unset;
    width: 100%;
    display: flex;
}
.nav-bar .nav-link li.no span,
.nav-bar .nav-link li.active span {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    /* transition: 200ms; */
}
/* 
.sombre-mode-variable .nav-bar .nav-link li.active {
    filter: invert(100%) sepia(23%) saturate(32%) hue-rotate(225deg) brightness(101%) contrast(120%);
    opacity: 0.7;
}

.nav-bar .nav-link li.active {
    filter: invert(9%) sepia(23%) saturate(7332%) hue-rotate(225deg) brightness(101%) contrast(120%);
}

.nav-min-ctn .nav-bar .nav-link li span.product {
    background-image: url(/src/res/store.png);
}

.nav-min-ctn .nav-bar .nav-link li span.users {
    background-image: url(/src/res/users.png);
}

.nav-min-ctn .nav-bar .nav-link li span.chat {
    background-image: url(/src/res/message-circle-more.png);
}

.nav-min-ctn .nav-bar .nav-link li span.interface {
    background-image: url(/src/res/app-window.png);
}

.nav-min-ctn .nav-bar .nav-link li span.state {
    background-image: url(/src/res/line-chart.png);
} */
