
* , pre {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
}


#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h2 {
  font-weight: bold;
  font-size: 1em;
}

body {
  
  width: 100vw;
  height: 100vh;
  color: #010747;
  font-family:  Cantarell, sans-serif;
  /* font-family: "Edu NSW ACT Foundation", cursive; */
  /* font-family:  "Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

pre{
  font-family:'Roboto';
}

#world {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  cursor: grab;
}


:root {
  --center-width: 800px;
  --nav-min: 1500px;
  --detail-min: 1000px;
  --detail-width:600px;
  --editer-width: 800px;

  --text-color: #010747;
  --backgroung-white : #fefefe;
  --box-shadow :  0 0  10px rgba(182, 182, 182, 0.322);
  --primary-color: linear-gradient(0.25turn , #5900ff, #0059ffa6);
}

.bleu{
  --primary-color: linear-gradient(0.25turn , #5900ff, #0059ffa6);
}

.black{
  --primary-color: linear-gradient(0.25tur n , #5900ff, #0059ffa6);
}

.purple{
  --primary-color: linear-gradient(0.25turn , #5900ff, #0059ffa6);
}

.yallow{
  --primary-color: linear-gradient(0.25turn , #5900ff, #0059ffa6);
}

.green{
  --primary-color: linear-gradient(0.25turn , #5900ff, #0059ffa6);
}

.red{
  --primary-color: linear-gradient(0.25turn , #5900ff, #0059ffa6);
}

.marron{
  --primary-color: linear-gradient(0.25turn , #5900ff, #0059ffa6);
}


.dark-mode-variable {
  --backgroung-white : linear-gradient(40deg ,rgb(4, 0, 53),rgb(39, 20, 124));
  --text-color: #fff;
  --box-shadow :  0 0  10px rgba(182, 182, 182, 0.222);
}
.sombre-mode-variable {
  --backgroung-white : linear-gradient(40deg ,rgb(17, 15, 15),rgb(5, 5, 7));
  --backgroung-white : linear-gradient(40deg ,rgb(53, 52, 58),rgb(39, 20, 124));
  --text-color: #fff;
  --box-shadow :  0 0  10px rgba(182, 182, 182, 0.322);
}

/*    scrollbar **/

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track:hover {
  background: #b6b6b630;
  transition: 200ms;
}
*::-webkit-scrollbar-track {
  background: #b6b6b630;
  border-radius: 20px;
  transition: 200ms;
}
*::-webkit-scrollbar-thumb {
  background: #b6b6b631;
  border-radius: 20px;
  transition: 200ms;
}

*::-webkit-scrollbar-thumb:hover {
  background: #15132548;
  transition: 200ms;
}
