/* 300 cadreW-max  */
.hori-ctn-products{
  position: absolute;
  height: 220px;
  width: 100%; 
  bottom: 0;
  
}

.hori-ctn-products .products {
  padding: 30px calc(50vw - 15px - var(--products-width) /2 ) ;
  position: absolute;
  overflow-y: hidden;
  overflow-x: scroll;
  /* background: #345; */
  transition: 1000ms;
  width: 100%;
  height: 250px;
  white-space: nowrap;
  bottom: 0;
}

.hori-ctn-products .product {
  margin-top: 100px;
  display: inline-block;
  cursor: pointer;
  filter: none;
  margin: 0 30px;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transition: 200ms;
}
.hori-ctn-products .product.active {
 transform: scale(1.2);
  transition: 200ms;
}

.hori-ctn-products .products::-webkit-scrollbar {
  width: 10px;
}

.hori-ctn-products .products::-webkit-scrollbar-track {
  background: #88888800;
}

.hori-ctn-products .products::-webkit-scrollbar-thumb {
  background: #88888800;
}

.hori-ctn-products .products::-webkit-scrollbar-thumb:hover {
  background: #55555500;
}

