
#world{
  position: absolute;
  width: 100%;
  height: 100%;
}

.ctn-products{
  position: absolute;
  height: 100%;
  width: 220px; 
}

.ctn-products:hover .back-products {
  width: 500px;
  transition: 300ms;
}

.back-products {
  position: absolute;
  /* background: #ffffff11; */
  /* filter: blur(40px); */
  transition: 500ms;
  width: 220px;
  height: 100%;
}

.products:hover {
  width: 500px;
  transition: 0ms;
}

.products {
  position: absolute;
  overflow-y: scroll;
  overflow-x: visible;
  /* background: #345;*/
  transition: 1000ms;
  width: 250px;
  height: 100%;
}

.product {
  filter: none;
  margin: 5px 30px;
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 10px;
}

.products::-webkit-scrollbar {
  width: 10px;
}

.products::-webkit-scrollbar-track {
  background: #c9191900;
}

.products::-webkit-scrollbar-thumb {
  background: #88888800;
}

.products::-webkit-scrollbar-thumb:hover {
  background: #55555500;
}
