

.ctn-products{
  position: absolute;
  height: 100%;
  width: 220px; 
}

.ctn-products:hover .back-products {
  width: 500px;
  transition: 300ms;
}



.products:hover {
  width: 350px;
  transition: 0ms;
}

.products {
  position: absolute;
  overflow-y: scroll;
  overflow-x: visible;
  /* background: #345;*/
  transition: 1000ms;
  width: 250px;
  height: 100%;
}

.product {
  /* cursor: pointer; */
  filter: none;
  margin: 5px 30px;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.products::-webkit-scrollbar {
  width: 10px;
}

.products::-webkit-scrollbar-track {
  background: #88888800;
}

.products::-webkit-scrollbar-thumb {
  background: #88888800;
}

.products::-webkit-scrollbar-thumb:hover {
  background: #55555500;
}
