.top-bar {
    width: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
}
.top-bar-ctn {
    width: 100%;
    padding: 0 20px ;
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    min-height: 50px;
    backdrop-filter: blur(40px) brightness(80%) saturate(150%);
}

.top-bar .left {
    display: flex;
    align-items: center;
}

.top-bar .left .logo-ctn {
    cursor: pointer;
    min-width: 75px;
    height: 50px;
    background: no-repeat 100% 50%/contain url(/src/res/sublymus_logo.png);
}

.top-bar .top-bar-center {
    display: flex;
}

.top-bar  li.active,
.top-bar li.active:hover {
    color: #fff;
    /* font-weight: bold; */
}

.top-bar li:hover , .footer .links li:hover {
    color: #dedede;
    border: 1px solid #fff5;
    backdrop-filter: blur(40px) brightness(80%) saturate(150%);
    background: #fff1;
    transition: 200ms;
}

.top-bar  li, .footer .links li {
    all: unset;
    letter-spacing: 3px;
    margin: 0px 10px;
    padding: 5px 10px;
    /* height: 44px; */
    display: flex;
    align-items: center;
    cursor: pointer;
    /* font-weight: bold; */
    filter: invert(0%);
    color: var(--text-color-annex);
    border-radius: 10px;
    border: 1px solid #fff0;
    transition: 200ms;
}

.top-bar li.active span,
.top-bar li:hover span, .footer .links li:hover {
    opacity: 1;
}
.top-bar li span, .footer .links li span {
    display: inline-block;
    width: 30px;
    filter: invert();
    height: 30px;
    opacity: 0.5;
    margin-right: 10px;
    transition: 200ms;
}

.top-bar .ctn-icon:hover{
    border: 1px solid #fff5;
    background: #fff1;
}
.top-bar .ctn-icon{
    border: 1px solid #fff0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 50px;
}

.top-bar .ctn-icon .icon{
    width: 30px;
    height: 30px;
    filter: invert();
    opacity: 0.7;
    background: no-repeat center/100% url('/src/res/ellipsis.png');
}
.more-navs{
    position: relative;
}
.more-navs ul li {
    padding: 5px;
}
.more-navs ul{    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 230px;
    padding: 15px 0 ;
    max-width: 260px;
    margin-top: 10px;
    z-index: 1;
    right: 0px;
    background: rgba(15, 14, 71, 0.3);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    backdrop-filter: blur(40px) brightness(80%) saturate(150%);
    border-radius: 20px;
    visibility: visible;
    opacity: 1;
    perspective: 500px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transform-origin: right top;
    transform:   translateX(-10px) translateY(10px);
}

.more-navs ul.close{    
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform:  rotateZ(-10deg) rotateY(20deg) translateY(0px);
}


.top-bar .profile {
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 20px;
    border: 1px #bbbbbb solid;
    box-shadow: 0px 0px 10px #fff9 ;
}
.top-bar .login {
    min-width: 100px;
    border-radius: 100%;
    text-decoration: underline;
}

@media (width < 550px) {
    .more-navs ul{
        right: 0px;
    }
}

@media (width < 400px) {
    .top-bar-ctn {
        height: 50px;
    }
}


/* //////////  footer       //////////// */

.footer {
    width: 100%;
    min-height: 500px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .links{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.footer .links li{
    width: 120px;
    margin:10px 10px;
    opacity: 0.8;
}

.footer .more-info{
    width: 300px;
}


