.top-bar {
    width: 95%;
    max-width: 2000px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    min-height: 50px;
}

.top-bar .left {
    display: flex;
    align-items: center;
}

.top-bar .options:hover {
    transition: 200ms;
    background: no-repeat center/90% url(/src/res//align-left.png), #bbb;
}

.top-bar .options {
    cursor: pointer;
    min-width: 40px;
    height: 40px;
    margin-right: 20px;
    filter: invert();
    display: none;
    border-radius: 5px;
    transition: 200ms;
    background: no-repeat center/80% url(/src/res//align-left.png), #ccc;
}

.top-bar .logo-ctn {
    cursor: pointer;
    min-width: 150px;
    height: 50px;
    background: no-repeat center/contain url(/src/res//img/img3.svg);
}

.top-bar .top-bar-center {
    display: flex;
}

.top-bar .top-bar-center li.active,
.top-bar .top-bar-center li.active:hover {
    color: #fff;
    /* font-weight: bold; */
}

.top-bar .top-bar-center li:hover {
    color: #dedede;
}

.top-bar .top-bar-center li {
    all: unset;
    letter-spacing: 3px;
    margin: 10px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: var(--text-color-annex);
}

.top-bar .top-bar-center li.active span,
.top-bar .top-bar-center li:hover span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: var(--color-blue-purple);
    transition: 200ms;
}

.top-bar .top-bar-center li span {
    display: inline-block;
    width: 0%;
    height: 0px;
    background: var(--color-blue-purple);
    transition: 200ms;
}

.top-bar .login:hover {
    transition: 100ms;
    opacity: 0.9;
}

.top-bar .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    color: #fff;
    background: var(--linear-orange);
    opacity: 1;
    transition: 100ms;
    border-radius: 50px;
    cursor: pointer;
}

.top-bar .profile-ctn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.top-bar .user-name {
    font-size: 1.5em;
}

.top-bar .profile {
    position: relative;
    min-width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 20px;
    border: 1px #bbbbbb solid;
}

.top-bar .profile .disco:hover {
    opacity: 0.9;
}

.top-bar .profile .disco {
    width: 150px;
    right: 0px;
    height: 60px;
    z-index: 1;
    position: absolute;
    background: var(--linear-orange);
    color: #fff;
    opacity: 1;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@media (width < 1000px) {
    .top-bar .top-bar-center {
        display: none;
    }

    .top-bar .options {
        display: block;
    }
}

/* vert-nav */

.vert-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.vert-nav li:hover {
    background: #fff2;
}

.vert-nav li {
    all: unset;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* background: #fff3; */
    border: 1px #fff6 solid;
    font-weight: bold;

}

@media (width < 500px) {

    .top-bar .user-name {
        font-size: 1.5em;
        display: none;
    }
}