/* ///////////////////////////////// */

.page-register {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.page-register .social {
    color: #345;
}

.page-register .google:hover {
    transform: scale(1.05);
    transition: 200ms;
    background: #ffffffce;
}

.page-register .google {
    color: #345;
    transition: 200ms;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.page-register .google span {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    height: 30px;
    background: no-repeat center/cover url(/src//res//google.png);
}