.product-card {
    width: 240px;
    height: 320px;
    background: var(--back-item);
    margin: 12px;
    border-radius: 20px;
    overflow: hidden;
    transition: 300ms;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(var(--discret-var), 0.1), 0px 0px 20px rgba(var(--discret-var), 0.4);
}

.product-card.active,.product-card.active:hover{
    transition: 200ms;
    box-shadow: 0px 0px 2px rgba(var(--impact-var), 1), 0px 0px 30px rgba(var(--impact-var), 0.7);
}
.product-card:hover{
    transition: 200ms;
    transform: translateY(-4px);
    box-shadow: 0px 0px 2px rgba(var(--impact-var), 1), 0px 0px 30px rgba(var(--impact-var), 0.3);
}

.product-card .images::-webkit-scrollbar{
    display: none;
}
.product-card .images {
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}
.product-card .images .image {
    width: 100%;
    height: 100%;
    display: inline-flex;
}
/* *** counters *** */

.product-card  .counters{
    position: absolute;
    top:2px;
    left: 0px;
    min-width: 100%;
    min-height: 10px;
    /* background: rgba(var(--impact-var), 1); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card .counter.active{
    scale: 1;
    opacity: 1;
    transition: 200ms;
}
.product-card  .counter{
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin: 0 5px;
    background: var(--discret);
    scale: 0.6;
    opacity: 0.8;
    transition: 200ms;
}
/* **** INFOS  **** */
.product-card .infos{
    padding: 10px;
    width: 100%;
    height: calc(320px - 200px);
    display: flex;
    flex-direction: column;
    position: relative;
}
.product-card .name {
    font-weight: bold;
}
.product-card .stars {
    display: flex;
    align-items: center;
}
.product-card .stars .value{
    display: flex;

    align-items: center;
}
.product-card .stars span {
    display: inline-block;
    width: 20px;
    height: 20px;
    filter: invert(50%);
    background: no-repeat center/80% url(/src/res/multiple-users-silhouette.png);
}
.product-card .price {
    display: flex;
    justify-content: flex-end;
}
.product-card .price .label {
    opacity: 0.8;
    margin-right: 10px;
}
.product-card .price .value {
    font-weight: bold;
}

.product-card .add-btn {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card .add-btn .btn:hover{
    background: rgba(var(--impact-var), 0.4);
    cursor: pointer;
}
.product-card .add-btn .btn {
    padding:7px 20px;
    width: 90%;
    text-align: center;
    box-shadow: 0px 0px 2px var(--discret);
    border-radius: 10px;

}
