.generic-list .image-element{
    width: 93.24px;
    height: 72px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    /* scale: ; */
}
