.page-blog {
    position: absolute;
    top : 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.page-blog .blog-background {
    position: absolute;
    top: 0;
    z-index: -10;
    filter: blur(100px);
    background: no-repeat center/cover url('../../res/back.jpeg');
    width: 100%;
    height: 100%;
}

.page-blog .ctn-blog {
    position: relative;
    transform: translateY(20vh);
    width: 100vw;
    height: 70vh;
    min-width: 600px;
    max-width: 1000px;
    /* min-height: 600px; */
    max-height: 1400px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.37);
}
.page-blog .blog-block {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.page-blog  .block{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.page-blog  .block.reverse{
    flex-direction: row-reverse;
}
.page-blog  .block.banner  .img{
    margin: 20px;
    width: 100%;
}

.page-blog  .img{
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    width: 400px;
    height: 400px;
}

.page-blog p{
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 400px;
}

.page-blog  .close{
    position: absolute;
    right: 0px;
    margin:0 5px;
    background: no-repeat center/cover url(src/res/x.png), rgba(255, 255, 255, 0.37);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    transition: 200ms;
}

.page-blog  .close:hover{
    transition: 200ms;
    background: no-repeat center/cover url(src/res/x.png), rgb(255, 255, 255);
}