.new-moderator{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.new-moderator .editor {
    margin: 20px 0;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.644);
    box-shadow: 0px 0px 10px #3455;
    border-radius: 20px;
}

.new-moderator .editor.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-moderator .editor>div {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.new-moderator .editor>div>div {
    width: 100%;
    margin-top: 10px;
}

.new-moderator .editor+h1 {
    margin: 20px 0;
}

.new-moderator .btm-list {
    margin: 15px 0px;
    display: flex;
    align-items: center;
}

.new-moderator .btm-list .see-all:hover {
    cursor: pointer;
    opacity: 1;
}

.new-moderator .btm-list .see-all {
    color: rgb(255, 0, 234);
    opacity: 0.8;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    margin-left: auto;
}

.new-moderator  .image-viewer .image{
    width: 300px;
    height: 300px;
}

.new-moderator .btm-list .btn.active {
    background: linear-gradient(0.25turn , #5900ffbb, #0059ffa6);
    transition: 1000ms;
}

.new-moderator .btm-list .btn {
    background: linear-gradient(0.25turn , #7e7e7ea8, #81818193);
    transition: 400ms;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    color: #fff;
    border-radius: 7px;
}
