.service-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.service-nav .title {
    width: 100%;
    min-height: 40px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
}

.service-nav .title .label {
    font-size: 32px;
    font-weight: bold;
}

.service-nav .title .add-new:hover {
    opacity: 0.7;
}

.service-nav .title .add-new {
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
}

.service-nav .title .add-nestore_id:w span {
    display: block;
    width: 30px;
    height: 30px;
    filter: invert();
    background: no-repeat center/80% url(/src/res/plus.png);
}

.service-nav .options {
    width: 100%;
    min-height: 20px;
    display: flex;
    padding: 0 20px;
}

.service-nav .option {
    width: 80px;
    cursor: pointer;
}

.service-nav .option div {
    position: relative;
    display: inline-flex;
    opacity: 0.6;
    padding: 2px 10px;
    border-radius: 5px;
}

.service-nav .option:hover div {
    background: #3455;
}

.service-nav .option div.active {
    opacity: 1;
    position: relative;
    display: inline-flex;
    background: #3455;
}

.service-nav .option span {
    position: absolute;
    display: block;
    background: #f00;
    width: 5px;
    height: 5px;
    top: 0;
    right: 0;
    border-radius: 100%;
}

.service-nav .search {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 0 10px 0 20px;
}

.service-nav .search .input {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    padding: 0 10px;
    box-shadow: var(--box-shadow);
}

.service-nav .search .input .icon {
    width: 35px;
    height: 35px;
    background: no-repeat center/60% url(/src/res/search.png);
}

.service-nav .search .input input {
    all: unset;
    height: 35px;
}

/* SERVICE */
.service-nav .services,
.service-nav .service-stores {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 5px;
    padding-left: 5px;
}

.service-nav .service:hover,
.service-nav .store:hover {
    background: #3455;
    transition: 200ms;
}

.service-nav .service.active,
.service-nav .store.active {
    color: #fff;
    background: rgba(24, 46, 68, 0.842);
    transition: 200ms;
}

.service-nav .service,
.service-nav .store {
    background: #fff;
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #3455;
    margin-bottom: 7px;
    transition: 200ms;
    cursor: pointer;
}

.service-nav .service .photo,
.service-nav .store .logo {
    min-width: 60px;
    height: 60px;
    border-radius: 100%;
}

.service-nav .service .right,
.service-nav .store .right {
    width: 100%;
    height: 60px;
    padding-left: 7px;
}

.service-nav .service .right .top-ctn,
.service-nav .store .right .top-ctn {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-nav .service.active .right .top-ctn .date,
.service-nav .store.active .right .top-ctn .date {
    color: #ffff;
    background: none;
}

.service-nav .service .right .top-ctn .date,
.service-nav .store .right .top-ctn .date {
    font-size: 0.9em;
    background: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.service-nav .service .right .btm,
.service-nav .store .right .btm {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-nav .service.active .checked {
    filter: invert();
}

.service-nav .checked {
    width: 22px;
    height: 22px;
    opacity: 0.5;
    display: none;
}

.service-nav .checked.one {
    display: block;
    background: no-repeat center/60% url(/src/res/mark.png)
}

.service-nav .checked.double {
    display: block;
    background: no-repeat center/60% url(/src/res/read.png)
}

.service-nav .service .right .btm .text, 
.service-nav .store .right .btm .email {
    opacity: 0.6;
    font-size: 0.9em;
}

.service-nav .service .right .btm .count,
.service-nav .store .right .btm .count {
    color: #fff;
    background: var(--primary-color);
    min-width: 22px;
    height: 22px;
    /* margin-left: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    display: none;
}

/* DISCUSSION POPU */

.service-popu {
    z-index: 3;
    width: 200px;
    border-radius: 5px;
    background: #fbf9ff;
    box-shadow: var(--box-shadow);
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.service-popu>div:hover {
    opacity: 1;
    cursor: pointer;
}

.service-popu>div {
    padding: 5px 0;
    display: flex;
    align-items: center;
    opacity: 0.7;
}

.service-popu .icon {
    width: 25px;
    height: 25px;
    padding: 5px 0;
    margin-right: 10px;
}

.service-popu .delete {
    color: rgba(255, 0, 0);
}

.service-popu .delete .icon {
    filter: invert(24%) sepia(93%) saturate(7000%) hue-rotate(357deg) brightness(91%) contrast(123%);
    background: no-repeat center/90% url(/src/res/trash-2.png);
}

.service-popu .block .icon {
    background: no-repeat center/90% url(/src/res/trash-2.png);
}

.service-popu .as-read .icon {
    background: no-repeat center/90% url(/src/res/trash-2.png);
}