.page-auth {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(177, 177, 177, 0.322);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    color: #345;
}

.auth-ctn {
    position: relative;
    height: 500px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-wrap: wrap;
}

.page-auth .close:hover {
    background: no-repeat center/60% url('/src/res/x.png'), rgba(219, 219, 219, 0.11);
    filter: invert(20%);
    transition: 200ms;
}

.page-auth .close {
    transition: 200ms;
    position: absolute;
    width: 30px;
    height: 30px;
    background: no-repeat;
    top: 20px;
    right: 20px;
    filter: invert(30%);
    border-radius: 50%;
    background: no-repeat center/60% url('/src/res/x.png');
}

.image {
    width: 50%;
    min-width: 300px;
    height:100% ;
    background: no-repeat center/contain url(/src/res/img/login-illustration.jpg);
}

.page-auth .auth-ctn .form {
    width: 50%;
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-auth .auth-title {
    margin-top: 50px;
}

.page-auth .auth-prompt {
    font-weight: 400;
    margin-top: 10px;
}

.page-auth .auth-prompt span {
    color: rgb(0, 140, 255);
}

.page-auth .auth-prompt span:hover {
    color: rgb(0, 38, 255);
    cursor: pointer;
}

.page-auth .google:hover {
    background: #7171710c;
}

.page-auth .google {
    width: 90%;
    height: 55px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 15px;
    border: 1px solid rgba(68, 85, 102, 0.151);
    cursor: pointer;
}

.page-auth .google .icon {
    width: 40px;
    height: 40px;
    background: no-repeat center/cover url(/src/res/google2.png);
    margin-left: 10px;
}

.page-auth .google .label {
    margin: auto;
}

.page-auth p  {
    margin-top: 50px;
}

@media (width <= 600px) {
    .auth-ctn {
        height: 100%;
        width: 100%;
        border-radius: 0px;
        align-content: flex-start;
    }
    .auth-ctn .image {
        width: 100%;
        min-width: 100%;
        max-height:300px;
        background: no-repeat center/contain url(/src/res/img/login-illustration.jpg);
    }
    
    .page-auth .auth-ctn .form {
        width: 100%;
        min-width: 100%;
        height: 300px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page-auth .auth-ctn .auth-title {
       margin: 0px;
    }
    .auth-ctn p{
        margin: 10px;
    }
}