
.actions-card:hover{
    background: rgb(239, 244, 247);
    transition: 200ms;
}

.sombre-mode-variable .actions-card {
    color: #345;
}

.actions-card {
    background: rgb(255, 255, 255);
    /* width: 480px; */
    /* height: 160px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px #3453;
    cursor: pointer;
    transition: 200ms;
    /* flex-wrap: wrap; */
    /* overflow: hidden; */
}
.actions-card .text{
    height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.actions-card .title{
    font-weight: bold;
    font-size: 18px;
    width: 150px;
}

.actions-card .description{
    color: #3459;
    font-size: 15px;
    /* width: 100%; */
    max-width: 300px;
}


.circular-line-chart {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    position: relative;
}

.circular-line-chart .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#ececec 45deg, #ececec 180deg, rgb(37, 128, 219) 180deg, rgb(0, 90, 180) 250deg);
}

.circular-line-chart .btn {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 61, 122);
    font-weight: bold
}



