.product-dash {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}


.product-dash .page-title {
    font-weight: bold;
    font-size: 24px;
}

.product-dash .editor {
    width: calc(100% - 50px);
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.644);
    box-shadow: 0px 0px 10px #3455;
    border-radius: 20px;
    margin: 20px;
}

.product-dash .editor.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-dash .editor>div {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.product-dash .editor>div>div {
    width: 100%;

}

.product-dash .editor>div>div>div {
    width: calc(100% - 20px);
    padding: 10px 10px;
}

/**********    product-dash   *******/

.product-dash .product-dash-ctn {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-dash .info {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.product-dash .info>div:hover {
    background: rgb(248, 248, 248);
}


/* ORDERS */

.product-dash .orders {
    margin-top: 30px;
}

.product-dash .orders .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;

}

.product-dash .orders-title {
    font-weight: bold;
    font-size: 24px;
}

.product-dash .see-all:hover {
    color: #84c;
    cursor: pointer;
}

.product-dash .see-all {
    font-weight: bold;
    color: #84cb;
}

.product-dash .orders-ctn {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 680px);

}

.product-dash .orders-ctn .order:hover {
    background: #3451;
}

.product-dash .orders-ctn .order {
    width: 100%;
    height: 70px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #3455;
}

.product-dash .orders-ctn .order>.id {
    width: 100px;
}

.product-dash .orders-ctn .order>.client {
    width: 250px;
    opacity: 0.5;
}

.product-dash .orders-ctn .order>.date {
    width: 150px;
    opacity: 0.5;
}

.product-dash .orders-ctn .order>.price {
    width: 120px;
    text-align: right;
    opacity: 0.5;
}

.product-dash .orders-ctn .order>.status {
    width: 100px;
    text-align: center;
}

.product-dash .orders-ctn .order>.status.start {
    width: 100px;
    color: rgb(0, 95, 190);
}

.product-dash .orders-ctn .order>.status.payment {
    width: 100px;
    text-align: center;
    color: rgb(147, 150, 0);
}

.product-dash .orders-ctn .order>.status.waiting {
    width: 100px;
    text-align: center;
    color: rgb(109, 0, 173);
}

.product-dash .orders-ctn .order>.status.delivery {
    width: 100px;
    text-align: center;
    color: rgb(0, 102, 255);
}

.product-dash .orders-ctn .order>.status.end {
    width: 100px;
    text-align: center;
    color: rgb(6, 173, 0);
}

.product-dash .orders-ctn .order>.status.cancel {
    width: 100px;
    text-align: center;
    color: rgb(173, 63, 0);
}







.error-panel.open{
    position: absolute;
    width: 400px;
    opacity: 1;
    transition: 200ms;
}

.error-panel {
    position: absolute;
    transition: 200ms;
    right: 0px;
    opacity: 0;
    top: 100px;
    background: rgb(147, 120, 165);
    width: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    color: #fff;
}

.error-panel .type {
    background: rgba(255, 0, 30, 0.589);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.error-panel .type>span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: no-repeat center/70% url(/src/res/x.png);
}

.error-panel .message {
    padding: 10px;
    max-height: 100px;
}