.product-dash{
    width: 100%;
    overflow-y:auto;
    overflow-x:hidden;
    height: 100%;
}

.product-dash .product-dash-top{
    margin-top: 30px;
   display: flex;
   align-items: center;
}

.product-dash .product-dash-top .save:hover{
    opacity: 1;
    transition: 200ms;
}
.product-dash .product-dash-top .save{
    display: flex;
    display: flex;
    align-items: center;
    filter: invert(17%) sepia(99%) saturate(7495%) hue-rotate(224deg) brightness(96%) contrast(102%);
    opacity: 0.6;
    transition: 200ms;
}

.product-dash .product-dash-top .icon{
   display: flex;
   width: 30px;
   height: 30px;
   background: #345;
   align-items: center;
   margin-left: 20px;
   margin-right: 10px;
   background: no-repeat center/80% url(/src/res/arrow-down-to-line.png);
}

.product-dash .page-title{
    font-weight: bold;
    font-size: 24px;
}

.product-dash .editor{
   width: calc(100% - 50px);
   display: flex;
   justify-content: center;
   background: rgba(255, 255, 255, 0.644);
   box-shadow: 0px 0px 10px #3455;
   border-radius: 20px;
   margin: 20px;
}

.product-dash .editor.wrap{
   display: flex;
   align-items: center;
   flex-direction: column;
}

.product-dash .editor > div{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
 }
 .product-dash .editor > div > div{
     width: 100%;
    
  }
  .product-dash .editor > div > div > div{
      width: calc(100% - 20px);
      padding: 10px 10px;
}
/**********    product-dash   *******/

.product-dash .product-dash-ctn{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-dash .info{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.product-dash .info > div:hover{
    background: rgb(248, 248, 248);
}


/* ORDERS */

.product-dash .orders{
    margin-top: 30px;
 }
 .product-dash .orders .top{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 30px 0px;

 }
.product-dash .orders-title{
    font-weight: bold;
    font-size: 24px;
}

.product-dash .see-all:hover{
    color: #84c;
    cursor: pointer;
}
.product-dash .see-all{
    font-weight: bold;
    color: #84cb;
}

.product-dash .orders-ctn{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 680px)  ;

}

.product-dash .orders-ctn .order:hover{
    background: #3451;
}
.product-dash .orders-ctn .order{
    width: 100%;
    height: 70px;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #3455;
}
.product-dash .orders-ctn .order > .id{
    width:100px;
}
.product-dash .orders-ctn .order > .client{
    width:250px;
    opacity: 0.5;
}
.product-dash .orders-ctn .order > .date{
    width:150px;
    opacity: 0.5;
}
.product-dash .orders-ctn .order > .price{
    width:120px;
    text-align: right;
    opacity: 0.5;
}
.product-dash .orders-ctn .order > .status{
    width:100px;
    text-align: center;
}
.product-dash .orders-ctn .order > .status.start{
    width:100px;
    color: rgb(0, 95, 190);
}
.product-dash .orders-ctn .order > .status.payment{
    width:100px;
    text-align: center;
    color: rgb(147, 150, 0);
}
.product-dash .orders-ctn .order > .status.waiting{
    width:100px;
    text-align: center;
    color: rgb(109, 0, 173);
}
.product-dash .orders-ctn .order > .status.delivery{
    width:100px;
    text-align: center;
    color: rgb(0, 102, 255);
}
.product-dash .orders-ctn .order > .status.end{
    width:100px;
    text-align: center;
    color: rgb(6, 173, 0);
}
.product-dash .orders-ctn .order > .status.cancel{
    width:100px;
    text-align: center;
    color: rgb(173, 63, 0);
}






.circular-line-chart{
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    position: relative;
}

.circular-line-chart .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#ececec 45deg, #ececec 180deg,rgb(37, 128, 219) 180deg,rgb(0, 90, 180) 250deg);
}

.circular-line-chart .btn{
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 61, 122);
    font-weight: bold
}
