.choise-features {
    max-width: 300px;
}

.choise-features .choise-ctn {
    max-width: 300px;
    height: 60px;
    background: #1482;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.choise-features .icon {
    width: 50px;
    height: 60px;
    background: no-repeat center/50% url(/src/res/jigsaw.png);
}

.choise-features .item .icon {
    min-width: 100px;
    height: 77px;
    background: no-repeat center/50% url(/src/res/jigsaw.png);
}

.choise-features .back {
    background: #6500c422;
    border-radius: 10px;
    margin-right: 10px;
}

.choise-features .name {
    font-size: 0.9em;
    opacity: 0.7;
    margin-top: 5px;
}
.choise-features .icons div{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    filter: invert(10%) sepia(95%) saturate(7495%) hue-rotate(275deg) brightness(76%) contrast(114%);
}
.choise-features .icons{
    width: 80px;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}

.choise-features .i_open:hover {
    background: no-repeat center/80% url(/src/res/chevron-down.png),#0003;
}
.choise-features .i_open {
    background: no-repeat center/80% url(/src/res/chevron-down.png),#0001;
}
.choise-features .add:hover {
    background: no-repeat center/80% url(/src/res/plus.png),#0003;
}
.choise-features .add {
    background: no-repeat center/80% url(/src/res/plus.png),#0001;
}

/***/
.choise-features .list-features.open {
    transition: 200ms;
}
.choise-features .list-features {
    max-width: 300px;
    min-height: 0px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 200ms;
}

.choise-features .list-features .item.selected {
    background: rgba(17, 69, 136, 0.329);
}

.choise-features .list-features .item {
    width: 100%;
    height: 80px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    margin-top: 5px;
    background: #1482;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.choise-features .list-features .item .id {
    margin-right: 20px;
}

.choise-features .list-features .item .label {
    padding-left: 20px;
}
.choise-features .list-features .item .edit:hover{
    background: no-repeat center/70% url(/src/res/write.png), #0003;  
}
.choise-features .list-features .item .edit{
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: no-repeat center/70% url(/src/res/write.png), #0002;
    filter: invert(10%) sepia(95%) saturate(7495%) hue-rotate(275deg) brightness(76%) contrast(114%);
}
