.product-comment {
    width: 100%;
    box-shadow: rgba(var(--discret-var), 0.2) 0px 0px 4px, rgba(var(--discret-var), 0.2) 0px 0px 20px;
    margin: 10px 0;
    border-radius: 20px;
    padding: 10px;
    opacity: 1;
    background: var(--back-item);
    color: var(--item-color);
    transition: 300ms;
    position: relative;
}

.product-comment.deleted {
    transform: translateX(200px);
    opacity: 0;
    transition: 300ms;
}

.product-comment .top {
    width: 100%;
    display: flex;
}

.product-comment .top .photo {
    min-width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    margin-right: 10px;
}

.product-comment .top .photo span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    bottom: 0%;
}

.product-comment .coment-right {
    width: 100%;
}

.product-comment .coment-right .name {
    font-weight: bold;
}

.product-comment .coment-right .flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.product-comment .coment-right .date {
    color: var(--discret);
}

.product-comment .coment-right .note-stars {
    color: var(--discret);
    margin-left: auto;
}

.product-comment .top .coment-right .option {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: no-repeat center /80% url(/src/res/ellipsis-vertical.png);
    margin-left: auto;
    cursor: pointer;
}

.product-comment .top .coment-right .ctn-option.open {
    visibility: visible;
    rotate: 0deg;
    opacity: 1;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.product-comment .top .coment-right .ctn-option {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(var(--impact-var), 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    color: var(--item-color);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    rotate: -45deg;
    transform-origin: 100% 0%;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.product-comment .top .coment-right .ctn-option div:hover {
    text-decoration: underline;
}

.product-comment .top .coment-right .ctn-option .close {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    cursor: pointer;
    background: no-repeat center/80% url(/src/res/x.png), #0002;
    border-radius: 20px;
}

.product-comment .top .coment-right .ctn-option div {
    padding: 5px 0;
    cursor: pointer;
}

.product-comment .message-ctn {
    display: flex;
}

.product-comment .message-ctn .gap {
    width: 10%;
    max-width: 60px;
}

.product-comment .message {
    margin: 10px 0;
    padding: 3px 0;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
}

.product-comment .files-ctn {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start !important;
    overflow-x: auto;
    overflow-y: hidden;

}

.product-comment .files-ctn div:hover {
    opacity: 0.8;
    cursor: pointer;
}

.product-comment .files-ctn div {
    min-width: 60px;
    height: 60px;
    margin: 0 5px;
    background: #4544;
    border-radius: 10px;
}


.product-comment .open-response {
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--discret);
    transition: 200ms;
    margin-bottom: 5px;
}

.product-comment .open-response.open {
    color: var(--item-color);
    transition: 200ms;
}

.product-comment .open-response.open span {
    transition: 200ms;
    rotate: 180deg;
    filter: invert(0%);
}

.product-comment .open-response span {
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: 200ms;
    rotate: 0deg;
    filter: invert(50%);
    background: no-repeat center/cover url(/src/res/chevron-down.png);
}

.product-comment .response {
    display: none;
}

.product-comment .response.open {
    display: initial;
    margin: 10px 0px;
}

.product-comment label {
    display: inline-flex;
    width: 100%;
    border-radius: 20px;
    padding: 5px 5px 5px 20px;
    box-shadow: rgba(var(--discret-var), 0.7) 0px 0px 4px;
}

.product-comment label input {
    all: unset;
    width: 100%;
}

.product-comment label span:hover {
    scale: 1.2;
    transition: 200ms;
}

.product-comment label span {
    width: 30px;
    height: 30px;
    transition: 200ms;
    border-radius: 20px;
    cursor: pointer;
    background: no-repeat center/80% url(/src/res/send.png), #0001;
}