.page-comment-image{
    width: 100%;
    height: 100%;
    background: var(--contrast);
    color: var(--contrast-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-comment-image .page-top{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.page-comment-image .page-top .return{
    width: 30px;
    height: 30px;
    margin: 0 30px;
    background: no-repeat center/80% url(/src/res/arrow-left.png);
}
.page-comment-image .page-top .count{
    margin: 0 auto;
    transform: translateX(-45px);
    font-weight: bold;
}
.page-comment-image .file-view{
    width: 100%;
    height: 100%;
    position: relative;
}

.page-comment-image .file-view > div{
    width: 90%;
    height: 100%;
}

.page-comment-image .file-view > div video{
    position: absolute;
}
.page-comment-image .file-view .img{
    width: 100%;
    height: 100%;
}

.page-comment-image .file-view .move-next,.page-comment-image .file-view .move-back {
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
}
.page-comment-image .file-view > div:hover >div {
    scale: 1.2;
    opacity: 1;
    transition: 300ms;
}
.page-comment-image .file-view .move-next {
    left: initial;
    right: 0;
    justify-content: flex-end;
}
.page-comment-image .file-view .move-next > div ,.page-comment-image .file-view .move-back > div {
    transition: 300ms;
    opacity: 0.8;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: rgba(var(--contrast-color-var), 0.7);
    border-radius: 100%;
}
.page-comment-image .file-view .move-next > div span ,.page-comment-image .file-view .move-back > div span{
    display: block;
    width: 30px;
    height: 30px;
    background: no-repeat center/80% url(/src/res/arrow-left.png);
    border-radius: 100%;
}

.page-comment-image .file-view .move-next > div span{
    rotate: 180deg;
}

.page-comment-image .btm{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.page-comment-image .btm .top{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

.page-comment-image .btm .top .name{
    margin-right: 20px;
    font-weight: bold;
}

.page-comment-image .btm .top .open:hover{
    opacity: 0.8;
    cursor: pointer;
}
.page-comment-image .btm .top .open{
    text-decoration: underline;
    margin-left: auto;
    margin:0 10px;
}

.page-comment-image .message{
    padding: 10px 20px;
    opacity: 0.9;
}

/* PRODUCT COMMENT COMPONENT */

.page-comment-image .preview-comment .close:hover{
    scale: 1.2;
}
.page-comment-image .preview-comment .close{
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 20px;
    cursor: pointer;
    background: no-repeat center/80% url(/src/res/x.png), #0002;
    border-radius: 20px;
}
.page-comment-image .preview-comment {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.page-comment-image .preview-comment.open{
    transform: scaleY(1);
}
.page-comment-image .preview-comment.close{
    transform: scaleY(0);
}

