.image-not-found {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-not-found div {
    text-decoration: underline;
    font-weight: bold;
    margin-top: 40px;
}

.image-not-found div span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat center/ cover url(/src/res/arrow-left.png);
}

.page-products {
    width: 100%;
    height: 100%;
    display: flex;
}

/* LEFT  */
.page-products>.left {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    box-shadow: rgba(var(--discret-var), 1) 0px 0px 2px;
    display: flex;
    flex-direction: column;
}

.page-products>.left .filter-fram {
    width: 100%;
    background: var(--background);
}



/* CENTER  */

.page-products>.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-products>.center .search-zone {
    width: 100%;
    max-width: 800px;
    /* height: 200px; */
    padding: 20px 30px;
    padding-bottom: 0;
}

.page-products>.center .search-text {
    color: var(--discret);
    padding-top: 20px;
}

.page-products>.center .search-text span {
    color: var(--color);
}

.page-products .sort {
    display: flex;
    align-items: center;
    width: 100%;
}

.page-products>.center .sort .label {
    margin-right: 20px;
    opacity: 0.8;
}

.page-products>.center .search-zone .list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
}

.page-products>.center .search-zone .list>div.active {
    background: var(--impact);
    box-shadow: rgba(var(--discret-var), 1) 0px 0px 5px;
    color: var(--impact-color);
}

.page-products>.center .search-zone .list>div {
    text-transform: capitalize;
    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 7px;
    box-shadow: rgba(var(--discret-var), 1) 0px 0px 2px;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    cursor: pointer;
}


.page-products>.center>.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 0;
}


/* RIGHT */
.page-products>.right {
    min-width: 0px;
    max-width: 0px;
    height: 100%;
    display: flex;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    flex-direction: column;
}

.page-products>.right.product {
    min-width: 500px;
    max-width: 500px;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

@media (width < 1400px) {
    .page-products>.right.product {
        min-width: 400px;
        max-width: 400px;
    }
}


@media (width > 1300px) {

    .page-products .product-card {
        width: 300px;
        height: 380px;
        margin: 5px;
    }

    .page-products .product-card .images {
        width: 100%;
        height: calc(380px - 120px);
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media (width < 1190px) {

    .page-products>.left {
        height: 100%;
        box-shadow: rgba(var(--discret-var), 1) 0px 0px 2px;
        display: flex;
        flex-direction: column;
        background: rgba(var(--discret-var), 0.1);
        backdrop-filter: blur(10px);
    }

    .page-products>.left .filter-fram {
        width: 100%;
        background: var(--background);
    }

    .page-products>.left {
        display: none;
        min-width: 300px;
        max-width: 300px;
    }

    .page-products>.left.open {
        display: flex;
        position: absolute;
        z-index: 1;
    }

}


@media (width < 935px) {
    .page-products>.left.product-detail {
        display: none;
    }

    .page-products>.right.product {
        display: none;
    }

    .page-products>.right.product.detail {
        display: flex;
        position: absolute;
        width: 100%;
        top: 0;
        min-width: initial;
        max-width: initial;
        transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        background: var(--background);
    }
    .mobile-device .page-products > .right.product.detail{
        height: calc(100% - var(--bottom-nav-height) );
    }
}

@media (width < 550px) {
    .page-products>.left {
        min-width: initial;
        max-width: initial;
        width: 100%;
    }

    .page-products>.left .filter-fram {
        width: 100%;
        background: var(--background);
    }
}


@media (width < 540px) {
    .page-products .product-card {
        width: 200px;
        height: 280px;
        margin: 5px;
    }

    .page-products .product-card .infos {
        padding: 10px;
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
    }

    .page-products .product-card .images {
        width: 200px;
        height: calc(280px - 120px);
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media (width < 425px) {
    .page-products .product-card {
        width: 48%;
        height: 280px;
        margin: 5px 1px;
    }

    .page-products .product-card .infos {
        padding: 10px;
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
    }

    .page-products .product-card .images {
        width: 100%;
        height: calc(280px - 120px);
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media (width < 330px) {
    .page-products .product-card .add-btn .btn span {
        display: none;
    }
}