.generic-list {
    width: 100%;
    height: 100%;
}

.list {
    width: 100%;
    height: calc(100% - 340px);
    position: relative;
    overflow: hidden;
}

.generic-list .top.flex{
    display: flex;
}
.generic-list .top {
    width: calc(100% -10px);
    height: 80px;
    background: rgb(255, 255, 255);
    white-space: nowrap;
}

.generic-list .top .label {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100px;
    height: 100%;
    vertical-align: top;
    cursor: default;
    overflow: hidden;
    padding-left: 5px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.generic-list .top .label{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.generic-list .top .cursor {
    display: inline-flex;
    min-height: 100%;
    max-height: 100%;
    cursor: col-resize;
    background: rgb(132, 136, 141)
    
}

.generic-list .items {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.generic-list .items.flex {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.generic-list .item.flex{
    display: flex;
    width: 100%;
}
.generic-list .item {
    display: block;
    height: 80px;
    white-space: nowrap;
}

.generic-list .gl-value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
    /* border-right: 1px solid #3455; */
    border-top: 1px solid #3455;
}


/*    scrollbar **/

.generic-list div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.generic-list div::-webkit-scrollbar-track {
    background: #b6b6b6b2;
    border-radius: 20px;
}

.generic-list div::-webkit-scrollbar-thumb {
    background: #696969c7;
    border-radius: 20px;
    transition: 200ms;
}

.generic-list div::-webkit-scrollbar-thumb:hover {
    background: #b3893c63;
    transition: 200ms;
}

.generic-list .list-filter-top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
    
}

