.editor-top-bar {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.editor-top-bar > * {
    margin: 5px;
}

.editor-top-bar.column{
    align-items: flex-start;
    flex-direction: column;
}

.editor-top-bar.row{
    align-items: center;
}

.editor-top-bar .btn-ctn > div:hover {
    opacity: 1;
    transition: 200ms;
}

.editor-top-bar .btn-ctn >div {
    display: flex;
    display: flex;
    align-items: center;
    opacity: 0.7;
    background: #ccc3;
    transition: 200ms;
    margin-left: 20px;
    padding: 5px;
    padding-right: 10px;
    border-radius: 7px;
}

.editor-top-bar.column .btn-ctn{
    margin-top: 10px;
}
.editor-top-bar .btn-ctn {
    display: flex;
}

.editor-top-bar .delete.dark {
    filter: invert(50%) sepia(97%) saturate(4737%) hue-rotate(327deg) brightness(85%) contrast(105%);
}

.editor-top-bar .delete {
    filter: invert(10%) sepia(97%) saturate(4737%) hue-rotate(327deg) brightness(85%) contrast(105%);
}

.editor-top-bar .create {
    filter: invert(17%) sepia(99%) saturate(7495%) hue-rotate(224deg) brightness(96%) contrast(102%);
}

.editor-top-bar .icon.confirm {
    background: no-repeat center/80% url(/src/res/trash-2.png);
}

.editor-top-bar .icon.cancel {
    background: no-repeat center/80% url(/src/res/chevron-down.png);
    transform: rotate(90deg);
    /**/
}

.editor-top-bar .icon.delete {
    background: no-repeat center/80% url(/src/res/x.png);
}

.editor-top-bar .icon {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    margin-right: 5px;
    background: no-repeat center/80% url(/src/res/plus.png);
}

.editor-top-bar.column input{
    margin-top: 10px;
}
.editor-top-bar input {
    all: unset;
    margin-left: 20px;
    font-size: 0.9em;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding-left: 10px;
    color: rgb(161, 65, 0);

}