.user-page {
    /* background: rgba(255, 255, 255, 0.39); */
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.user-page .user-top{
    font-size: 40px;
}

.user-page .user-info>div:hover {
    background: rgba(207, 207, 207, 0.589);
    transition: 200ms;
}
.user-page .user-info>div:hover {
    background: rgba(207, 207, 207, 0.589);
    transition: 200ms;
}

.user-page .user-info>div {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 3px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    transition: 200ms;
    background: #ffffffc2;
    box-shadow: 1px 0px 3px #345b;
    border-radius: 5px;
}

.user-page .user-info>div .icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.user-page .user-info>div.full-name .icon {
    background-image: url(/src/res/book-user.png);
}
.user-page .user-info>div.compte .icon {
    background-image: url(/src/res/credit-card.png);
}

.user-page .user-info>div.address .icon {
    background-image: url(/src/res/map-pin.png);
}

.user-page .user-info>div.phone .icon {
    background-image: url(/src/res/phone.png);
}

.user-page .user-info>div.password .icon {
    background-image: url(/src/res/lock-keyhole.png);
}

.user-page .user-info>div.logout .icon {
    background-image: url(/src/res/log-out.png);
}
.user-page .user-info>div.logout {
    justify-content: flex-start;
}

.user-page .user-info>div .label {
    width: 180px;
    
}
.user-page .user-info>div .val {
    width: 130px;
    color: rgb(84, 101, 121);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.user-page .user-info>div:hover .edit {
    opacity: 1;
    transition: 200ms;
}

.user-page .user-info>div .edit {
    margin-left: 10px ;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    opacity: 0;
    transition: 200ms;
    background: no-repeat center/60% url(/src/res/pencil.png), #ffffff31;
}

.user-page .ctn-list{

   margin-left: 50px;
  }

  .user-page .ctn-list h1{
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
    font-weight: 500;
    

  }

  .user-page .list{
    overflow-y: hidden;
    overflow-x: scroll;
    /* background: #345; */
    transition: 1000ms;
    width: 100%;
    height: 300px;
    white-space: nowrap;
  }
    
.user-page  .profile-btm-product{
    margin: 0 10px;
    display: inline-flex;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background: #345;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
    overflow: hidden;
}
.user-page  .profile-btm-product .min-info{
    background: #0008;
    width: 100%;
    color:  #fff;
}

/*******************   Edit Page    *************************/

.user-page .edit-page{
    top:0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-page .edit-page .ctn{
    overflow: hidden;
    top:0;
    width: 450px;
    height: 350px;
    background: rgba(255, 255, 255, 0);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffe;
}


 .user-page .edit-page .center{
    width: calc( 100% - 70px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-page .edit-page .editor{
    width: 100%;
    background: rgba(255, 255, 255, 0.979);
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #33333373;
 }
 .user-page .space{
    display: none;
    
 }

 .user-page .space.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
 }

 .user-page .edit-page .index{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 } 


 .user-page .edit-page .index li:hover{
    background: #345;
 }

 .user-page .edit-page .index li.active{
    background: rgb(81, 109, 136);
    transform: scale(1.5);
    border:1px solid #333
 }start
 .user-page .edit-page .index li:active{
    background: rgb(31, 100, 156);
 }
 
 .user-page .edit-page .index li{
     all:unset;
     cursor: pointer;
   width: 15px;
   height: 15px;
   background: #345;
   border-radius: 50%;
   margin: 10px;
 }

 .user-page .edit-page .end{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   color :#fff;
   margin-top: 20px;
 }
 .user-page .edit-page .save{
    padding: 10px 40px;
    border-radius: 10px;
    background: rgb(0, 114, 190);
    margin-left: 20px;
    
 }
 .user-page .edit-page .save:hover{
    background: rgb(0, 94, 156);
 }
 
 .user-page .edit-page .cancel{
    padding: 10px 40px;
    border-radius: 10px;
    background: rgb(148, 148, 148);
    
 }
 .user-page .edit-page .cancel:hover{
    background:  rgb(116, 116, 116);
 }

 /*******************    editor   ***********************/

 .user-page .edit-page .editor .pass-ctn{
    display: flex;
    background: #cc3d3d00;
    border-radius: 5px;
    margin-top: 30px;
 }
 .user-page .edit-page .editor .pass-ctn input{
    margin-top: 0px;
}

 .user-page .edit-page .editor .icon{
    width: 30px;
    height: 30px;
    background: no-repeat center/cover url(/src/res//eye.png);
 }

 .user-page .edit-page .editor .icon.off{
    width: 30px;
    height: 30px;
    background: no-repeat center/cover url(/src/res//eye-off.png);
 }

.user-page .edit-page .editor input{
    all:unset;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    width: 250px;
    padding: 5px;
    background: #fff;
    border: #37a 1px solid;
    border-radius: 5px;
    margin-top: 30px;
    color: rgb(0, 38, 77);
 }

 .user-page p.count {
    font-size: 14px;
    margin: 0 5px;
}

.user-page p.error {
    font-size: 14px;
    margin: 0 5px;
    color: brown;
}

.user-page .promt {
    display: flex;
    width: 250px;
    justify-content: space-between;
    color: #345;
}

.user-page h3 {
    font-weight: normal;
    color: #345;
}

.user-page .phone-ctn{
    background: #fff;
    border: 1px #37a solid;
    border-radius: 10px;
    overflow:hidden;
    margin-top: 30px;
}
.user-page .edit-page .editor .phone-ctn input{
   margin-top: 0px;
   border: none;
}
.user-page .phone-ctn select{
    margin-top: 0px;
    background: #fff;
    border: 1px rgba(114, 114, 114, 0.479) solid;
    height: 100%;
    border-radius: 0px;
    overflow:hidden;
}



.user-page .space.s2 input{
    background: rgba(0, 0, 0, 0.726);
    color: #fff;
    border: 1px solid #ffffff;
}
.user-page .space.s2{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    background: no-repeat 95% 65% /30% url(/src/res/visa.png) , no-repeat center/200% url(/src/res/ert.avif);
}

.user-page .space.s2 .carte-nbm{
    display: flex;
    justify-content: center;
    width: 100%;
}
.user-page .space.s2 .label{
   color: #fff;
   font-weight: bold;
   margin-left: 40px;
}
.user-page .space.s2 .carte-nbm > input{
    width: 50px;
    margin: 5px;
    border-radius: 10px;
}
.user-page .space.s2 .carte-name{
    display: flex;
}
.user-page .space.s2 .carte-name > input{
    width: 200px;
    margin: 5px  40px;

}
.user-page .space.s2 .carte-btm{
    display: flex;
    margin-top: 10px ;
    width: 250px;
    margin-left: 40px;
    margin-top: 15px;
    justify-content: space-between;
}
.user-page .space.s2 .carte-btm > input{
    width: 80px;
}