.page-list-store {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;

}

.page-list-store .center-content {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: space-around;
}


.page-list-store .center-content > div{
    max-width: 600px;
    height: 100%;
}

.page-list-store .center-content .center-left {
    background: no-repeat url(/src/res/img/img5.svg);
    width: 40%;
}

.page-list-store .center-content .center-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

 .page-list-store .center-content .list-ctn {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
    overflow-x: hidden;
    overflow-y: auto;
 }
  
 .page-list-store .center-content .list-ctn .store-tcn:hover{
    background: #fff3;
 }
 
 .page-list-store .center-content .list-ctn .store-tcn {
    width: 100%;
    border-radius: 10px;
    background: rgba(100, 88, 88, 0);
    color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #fff2;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #345;
    cursor: pointer;
 }

 .page-list-store .center-content .store-tcn .text{
   display: flex;
   flex-direction: column;
   margin-left: 20px;
 } 
 .page-list-store .center-content .store-tcn .img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
 }
 
 .page-list-store .center-content .store-tcn .name{
    width: 200px;
    overflow: hidden;
    font-weight: bold;

 }
 
 .page-list-store .center-content .store-tcn .id{
    color: #fff9;
  }
  .page-list-store .center-content .store-tcn .email{
    margin-left: auto;
    margin-right: 20px;
  }

.page-list-store .center-content .center-right .btn:hover{
    opacity: 0.9;
}
.page-list-store .center-content .center-right .btn {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0.25turn , #5900ff, #0059ffa6);
    border-radius: 15px;
    margin-top: 50px;
    opacity: 1;
    cursor: pointer;
}