.page-forum {
    width: 100%;
}


.page-forum .top {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.page-forum .top .title {
    font-size: 4em;
    padding-right: 50px;
}

.page-forum .top .search-section {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    height: 48px;
    position: relative;
}

.page-forum .top .search-section input:focus {
    box-shadow: rgba(47, 184, 255, 0.3) 0px 10px 40px, rgb(47, 184, 255) 0px 0px 0px 1px inset;
    background: linear-gradient(rgba(24, 32, 79, 0.4) 0%, rgba(24, 32, 79, 0.25) 100%);
}

.page-forum .top .search-section input {
    all: unset;
    display: flex;
    outline: none;
    height: 48px;
    width: 100%;
    padding-right: 150px;
    padding-left: 25px;
    align-items: center;
    background: linear-gradient(rgba(99, 106, 150, 0.4) 0%, rgba(182, 186, 214, 0.25) 100%);
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px, rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset;
    color: rgb(255, 255, 255);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    overflow: hidden;
}

.page-forum .top .search-section div:hover {
    color: #fff;
    background: #22295e;
    transition: 300ms;
}

.page-forum .top .search-section div {
    min-width: 120px;
    padding: 20px;
    background: #323970;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 100px;
    height: 90%;
    margin: 2px;
    position: absolute;
    top: 1px;
    right: 2px;
    color: #fffc;
    transition: 300ms;
    cursor: pointer;
    pointer-events: inherit;
}

.page-forum .center {
    display: flex;
}

.page-forum .center nav {
    min-width: 190px;
    margin-right: 10px;
}

.page-forum .center nav .new-subject:hover {
    background: #698fbe;
    transition: 400ms;
}

.page-forum .center nav .new-subject {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 9px 16px;
    font-weight: 600;
    background: #5396e7;
    color: #fff;
    transition: 400ms;
    pointer-events: initial;
    cursor: pointer;
}

.page-forum .center nav .new-subject span {
    display: inline-block;
    width: 30px;
    height: 30px;
    filter: invert();
    border-radius: 100%;
    background: no-repeat center/80% url(/src/res/plus.png);
    box-shadow: #000 0px 0px 1px inset, #000 0px 0px 1.5px inset;
}

.page-forum .center nav .filter:hover {
    color: #fff;
    background: #22295e;
    transition: 300ms;
}

.page-forum .center nav .filter {
    min-width: 120px;
    padding: 20px;
    background: #323970;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 100px;
    margin-left: 20px;
    color: #fffc;
    transition: 300ms;
    cursor: pointer;
    pointer-events: inherit;
    display: none;
}

.page-forum .center nav .targ.all {
    margin: 20px 0;
}

.page-forum .center nav ul {
    all: unset;
}

.page-forum .center nav ul li:hover {
    transition: 200ms;
    color: #6ed1ff;
}

.page-forum .center nav ul li {
    transition: 200ms;
    all: unset;
    display: block;
    padding: 7px;
    padding-left: 40px;
    pointer-events: inherit;
    cursor: pointer;

}

.page-forum .center nav ul .targ:hover {
    transition: 200ms;
    color: #6ed1ff;
}

.page-forum .center nav ul .targ {

    transition: 200ms;
    display: flex;
    pointer-events: inherit;
    cursor: pointer;
}

.page-forum .center nav ul .targ .icon {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 100%;
}

.page-forum .center .list a:hover {
    color: inherit;
    background: #32397055;
    transition: 200ms;
}

.page-forum .center .list a {
    transition: 200ms;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 10px 0;

}

.page-forum .center .list .right {
    display: flex;
}

.page-forum .center .list .photo {
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.page-forum .center .list a:hover .title {
    color: #6ed1ff
}

.page-forum .center .list .info {
    display: flex;
    opacity: 0.7;
    color: #8abfff;
}

.page-forum .center .list .message {
    opacity: 0.9;
    margin-top: 10px;
    font-weight: 500;
    color: #d4dcff;
}

.page-forum .center .list .count {
    display: flex;
    color: #000;
    align-items: center;
    filter: invert(57%) sepia(72%) saturate(216%) hue-rotate(190deg) brightness(89%) contrast(85%);
}

.page-forum .center .list .count span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background: no-repeat center/60% url(/src/res/chat.png);
}

.page-forum .center .list .targs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
}

.page-forum .center .list .targ {
    display: flex;
    margin: 3px;
    border-radius: 5px;
    overflow: hidden;
}

.page-forum .center .list .targ>div {
    padding: 3px;
    font-size: 0.8em;
    background: #121429
}

@media (width < 800px) {
    .page-forum .top {
        flex-wrap: wrap;
    }

    .page-forum .center {
        flex-wrap: wrap;
    }

    .page-forum .center nav .filter {
        display: flex;
        margin-top: 10px;
    }

    .page-forum .center nav ul.open {
        visibility: visible;
        opacity: 1;
        transform: rotateZ(0deg) rotateY(0deg);
    }

    .page-forum .center nav ul.close {
        visibility: hidden;
        opacity: 0;
        transform: rotateZ(-10deg) rotateY(20deg);
    }

    .page-forum .center nav ul {
        position: absolute;
        min-width: 200px;
        padding-left: 20px;
        top: 50px;
        background: #456;
        z-index: 1;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 10px;
        right: 0px;
        background: rgba(15, 14, 71, 0.3);
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
        backdrop-filter: blur(40px) brightness(80%) saturate(150%);
        border-radius: 20px;
        visibility: visible;
        transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        transform-origin: right top;
        transform: translateX(-10px)
    }

    .page-forum .center nav {
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .page-forum .center .list .right {
        flex-wrap: wrap-reverse;
    }
    .page-forum .center .list .count{
        margin-left: auto;
    }
    .page-forum .center .list .targs {
        flex-direction: row;
        width:100%;
        position: relative;
    }
    
    .page-forum .center .list a {
        padding: 10px 0;
    }
    
}


@media (width < 370px) {
    .page-forum .center nav ul {
        display: flex;
        margin-top: 10px;
        top: 100px;
    }
    .page-forum .center .list .targs.list {
        position: absolute;
        flex-wrap: wrap;
        width: 180px;
        padding: 10px;
        z-index: 1;
        overflow: auto;
        top: 30px;
        transform-origin: 0% 0%;
        background: rgba(15, 14, 71, 0.3);
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
        backdrop-filter: blur(40px) brightness(80%) saturate(150%);
        transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    }
    .page-forum .center .targs.list.open {
        visibility: visible;
        opacity: 1;
        transform: rotateZ(0deg) rotateY(0deg);
    }
    
    .page-forum .center .targs.list {
        visibility: hidden;
        opacity: 0;
        transform: rotateZ(10deg) rotateY(-20deg);
    }
    .page-forum .center .list .open-targs{
        width: 100px;
        height: 30px;
        filter: invert();
        opacity: 0.8;
        cursor: pointer;
        pointer-events: initial;
        background: no-repeat center/contain url(/src/res/ellipsis.png);
    }
}