.nav-bar {
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}
.nav-bar.blur {
    filter: blur(20px);
  }
  
.nav-bar.small {
    min-width: 80px;
    max-width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}

.nav-bar .nav-logo {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .nav-logo .logo {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar .nav-logo .label {
    font-size: large;
    padding: 5px;
}

.nav-bar .nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-link ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-weight: bold;

}

.nav-bar .nav-link li:hover, .nav-bar .nav-link li.active {
    background: rgba(102, 102, 102, 0.185);
    transition: 200ms;
}

.nav-bar .nav-link li {
    all: unset;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #7e7e7e;
    font-size: 15px;
    transition: 200ms;
}


.nav-bar .nav-link li.active {
    color: #000000;
}

/* .sombre-mode-variable .nav-bar .nav-link li.no span {
    transition: 200ms;
    filter: invert(41%) sepia(3%) saturate(2386%) hue-rotate(201deg) brightness(89%) contrast(74%);
} */
.nav-bar .nav-link li.no span {
    transition: 200ms;
    filter: invert(41%) sepia(3%) saturate(2386%) hue-rotate(201deg) brightness(89%) contrast(74%);
}

/* 
.sombre-mode-variable .nav-bar .nav-link li.no li:hover {
    filter: invert(100%) sepia(23%) saturate(32%) hue-rotate(225deg) brightness(101%) contrast(120%);
    opacity: 0.7;
} */
/* .nav-bar .nav-link li.no li:hover {
    transition: 200ms;
    color: #777789bb;
    filter: invert(41%) sepia(3%) saturate(2386%) hue-rotate(201deg) brightness(89%) contrast(74%);
} */

.nav-bar .nav-link li.no span,
.nav-bar .nav-link li.active span {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    transition: 200ms;
}

.sombre-mode-variable .nav-bar .nav-link li.active {
    filter: invert(100%) sepia(23%) saturate(32%) hue-rotate(225deg) brightness(101%) contrast(120%);
    opacity: 0.7;
}

.nav-bar .nav-link li.active  {
    filter: invert(9%) sepia(23%) saturate(7332%) hue-rotate(225deg) brightness(101%) contrast(120%);
}

.nav-bar .nav-link li span.stores {
    background-image: url(/src/res/store.png);
}

.nav-bar .nav-link li span.users {
    background-image: url(/src/res/users.png);
}

.nav-bar .nav-link li span.chat {
    background-image: url(/src/res/message-circle-more.png);
}

.nav-bar .nav-link li span.interface {
    background-image: url(/src/res/app-window.png);
}

.nav-bar .nav-link li span.state {
    background-image: url(/src/res/line-chart.png);
}

.nav-bar .nav-profile {
    border-radius: 20px;
    transform: scale(0.9);
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar .nav-profile .img {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('https://lesdeuxpiedsdehors.com/wp-content/uploads/2019/05/comprendre-la-composition-photo.jpg');
    border-radius: 50%;

}

.nav-bar .nav-profile .logout {
    border-radius: 20px;
    padding: 10px 20px;
    background: rgba(255, 123, 62, 0.288);
    color: rgb(255, 123, 62);
    border: 0px solid rgba(255, 123, 62, 0);;
    transition: 300ms;
}
.nav-bar .nav-profile .logout:hover {
    padding: 5px 20px;
    border: 5px solid rgba(255, 123, 62, 0.123);;
    transition: 200ms;
}

.nav-bar .logut-icon:hover{
    filter: invert(30%);
    transition: 100ms;
}
.nav-bar .logut-icon {
    width: 60px;
    height: 60px;
    background: no-repeat center/60% url(/src/res/log-out.png);
    filter: invert(50%);
    transition: 100ms;
    margin-bottom: 50px;
    display: none;
}

@media (width < 1250px) {
    .nav-bar {
        min-width: 80px;
        max-width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .nav-bar .nav-link li label {
        display: none;
    }
    .nav-bar .nav-logo .label {
        display: none;
    }

    .nav-bar .nav-profile {
        display: none;
    }

    .nav-bar .nav-profile {
        display: none;
    }

    .nav-bar .logut-icon {
        display: block;
    }
}

@media (width < 750px) {
    .nav-bar {
        all: unset;
        display: none !important;
        background: #456;
    }
}