body,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  font-family: Cantarell, sans-serif;
  color: var(--color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-size: 1em; */
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-weight: bold;
  font-size: 1.8em;
}

h4 {
  min-height: 1em;
}

a:hover {
  color: #6ed1ff;
}

a {
  all: unset;
  text-decoration: underline;
  position: inherit;
  cursor: pointer;
}
._flex{
  display: flex;
  align-items: center;
}
._flex._wrap{
  flex-wrap: wrap; 
}
._flex._end{
  justify-content: flex-end; 
}
._flex._center{
  justify-content: center; 
}
._l-auto{
  margin-left: auto; 
}
._r-auto{
  margin-right: auto; 
}
._lr-auto{
  margin-left: auto; 
  margin-right: auto; 
}

/* ZOOTA */
._limit-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: grab;
  z-index: -100;
}

:root {
  --variant-claire:#10c44c;
  --variant-sombre:#016623;
  --variant-sombre-var:1, 102, 35;
  --background: #fff;
  --color: #345;
  --filter: invert(0);
  --back-item: #fff;;
  --back-item-var: 255,255,255;
  --item-color: #123;
  --impact: #068f34;
  --impact-var: 53, 143, 39;
  --impact-color: #fff;
  --contrast: #0f2336d7;
  --contrast-var: 15,35,54;
  --contrast-color: #fff;
  --contrast-color-var: 225,225,225;
  --discret: #7F817E;
  --discret-var: 127, 129, 126;
  --discret-color: #fff;
  
  --error :#c43d4c;
  --error-var :196,61,76;
  --error-color : #fff;

  --success :#10c44c;
  --success-var :16,196,76;
  --success-color : #fff ;
  /* Dimmension */
  --top-bar-height:50px;
  --bottom-nav-height:40px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #b6b6b6;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #696969a5;
  border-radius: 10px;
  transition: 200ms;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b38a3c;
  transition: 200ms;
}


.child-viewer {
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 100%;
}

sombre-mode-variable .child-viewer-ctn {
  background: var(--backgroung-white);
}

.child-viewer-ctn {
  position: relative;
  width: 100%;
  height: 100%;
}


.h-scroll-icon-ctn:hover{
  background: rgba(var(--back-item-var));
  box-shadow: var(--discret) 0px 0px 2px, rgba(var(--discret-var), 1) 0px 0px 5px;
}
.h-scroll-icon-ctn{
  width: 30px;
  height: 30px;
  left:0px;
  top: calc(50% - 15px);
  border-radius: 20px;
  overflow: hidden;
  position: absolute; 
  background: rgba(var(--back-item-var), 0.9);
  cursor: pointer;
  box-shadow: var(--discret) 0px 0px 2px, rgba(var(--discret-var), 0.5) 0px 0px 5px;
}
.h-scroll-icon-ctn.right{
  right: 0px;
  left: initial;
}
.h-scroll-icon.right{
  rotate: 180deg;
}
.h-scroll-icon{
  width: 100%;
  height: 100%;
  background: no-repeat center/80% url(/src/res/arrow-left.png); 
}

@media (width < 700px) {
  body {
    font-size: 0.9em;
  }
}