.card-flyer {
    all: unset;
    position: relative;
    width: 100%;
    max-width: 240px;
    min-height: 100px;
}

.card-flyer .front-flyer > .icon {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    right: 10px;
}

.card-flyer .front-flyer {
    width: 100%;
    height: 100%;
    padding: 40px 20px 10px 20px;
    background: linear-gradient(180deg, #18528867 0%, #37044e73 100%);
    backdrop-filter: blur(40px);
    border-radius: 0px 30px 40px 40px;
    background: rgba(31, 31, 71, 0.7);
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.15) 0px 0px 0px 0.5px inset;
}

.card-flyer:hover .front-flyer {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 40px 80px, rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset;
}

.card-flyer:hover .back-flyer {
    transform: skewY(12deg) rotateY(40deg);
}

.card-flyer .back-flyer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    bottom: 0px;
    background: linear-gradient(180deg, #408DD5 0%, #630B8C 100%);
    transform: skewY(8deg) rotateY(20deg);
    transform-origin: left top;
    border-radius: 0px 40px 40px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}


.card-flyer .title{
    text-transform: capitalize;
}

.card-flyer p {
    margin-top: 10px;
    opacity: 0.7;
    font-size: 0.9em;
}

.card-flyer .info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.card-flyer .info .icon {
    min-width: 30px;
    min-height: 30px;
    margin-right: 10px;
}

.card-flyer .info .text {
    opacity: 0.7;
    font-size: 0.9em;
}

.card-flyer .btn-tuto{
    all: unset;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 2px #fff5, 0px 0px 10px #0005;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: initial;
    cursor: pointer;
}

.card-flyer .btn-tuto span{
    display: block;
    width: 30px;
    height: 30px;
    background: #0005;
    margin-right: 10px;
    filter: invert();
    opacity: 0.8;
    background: no-repeat center/80% url(/src/res/catalog.png);
}