* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal; 
}
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
h1 {
  font-weight: bold;
  font-size: 1.8em;
}
body, html{
  overflow: hidden;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family:  Cantarell, sans-serif;;
}

#world {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  cursor: grab;
}

:root {
  --center-width: 800px;
  --nav-min: 1500px;
  --detail-min: 1000px;
  --detail-width: 600px;
  --editer-width: 800px;

  --linear-orange: linear-gradient(330deg, rgb(196, 121, 0) 60%, rgb(216, 194, 0));
  --text-color: #fff;
  --text-color-annex: #aaa;
  --color-blue-purple: #5b00d1;
  --backgroung-white: #f2f2f3;
  --box-shadow: 0 0 10px rgba(182, 182, 182, 0.322);
  ;
}

.dark-mode-variable {
  --backgroung-white: linear-gradient(40deg, rgb(4, 0, 53), rgb(39, 20, 124));
  --text-color: #fff;
  --box-shadow: 0 0 10px rgba(182, 182, 182, 0.222);
}

.sombre-mode-variable {
  --backgroung-white: linear-gradient(40deg, rgb(53, 52, 58), rgb(39, 20, 124));
  --text-color: #fff;
  --box-shadow: 0 0 10px rgba(182, 182, 182, 0.322);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*    scrollbar **/

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track:hover {
  background: #b6b6b630;
  transition: 200ms;
}

*::-webkit-scrollbar-track {
  background: #b6b6b630;
  border-radius: 20px;
  transition: 200ms;
}

*::-webkit-scrollbar-thumb {
  background: #b6b6b631;
  border-radius: 20px;
  transition: 200ms;
}

*::-webkit-scrollbar-thumb:hover {
  background: #15132548;
  transition: 200ms;
}

.no-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}