body{
    background: linear-gradient(40deg ,#111,#112);
}
.web {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.web .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: url(/src/res/img/noise.png);
    opacity: 0.4;
}
.web .page-ctn{
    width: 95%;
    max-width: 2000px;
    height: calc(100% - 0px);
  
}