.web {
    width: 100%;
    height: 100%;
    background: #181d36;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web .page-ctn{
    width: 95%;
    max-width: 2000px;
    height: var(100% - 50px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}