.nav-link{
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 3vh;
    width: 100vw;
    transition: 200ms;
    /* max-width: 680px; */
    /* left: calc( 50vw - 340px ); */
}

.link{
    transition: 200ms;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    /* background: rgba(50, 50, 50, 0.127); */
    /* border: 1px solid #33333352; */
    /* border-radius: 50px; */
    /* font-size: x-large; */
    color:#ffffffa5
}
.link:hover{
    color:#ffffff;
    transition: 200ms;
}
