
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  width: 100vw;
  height: 100vh;
  color: #534;
  font-family:  "Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#world{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: grab;
  z-index: -100;
}

:root {
  --products-width: 250px;
  --editer-min-width: 500px;
  --editer-max-width: 800px;
  --editer-width: 800px;
  --primary-color: linear-gradient(0.25turn , #ae00ff, #2f00ffa6);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #b6b6b6;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #696969a5;
  border-radius: 10px;
  transition: 200ms;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b38a3c;
  transition: 200ms;
}


.child-viewer{
  z-index:9999;
  position: absolute;
  width: 100%;
  height: 100%;
}
sombre-mode-variable .child-viewer-ctn{
  background: var(--backgroung-white);
}
.child-viewer-ctn{
  position: relative;
  width: 100%;
  height: 100%;
}

.sombre-mode-variable .editor {
  background: #0002 !important;
}

.not-found{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.not-found .img{
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  width: 60%;
  height: 60%;
  background: no-repeat center/cover url(/src/res/not_found.jpg);
}

@media (width < 700px) {
  body{
    font-size: 0.9em;
  }
}