.page-home {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2000px;
}

/* BACH HOME */

.page-home .back-home {
    width: 100%;
    height: 100%;
    background: #566
}

/*  */
.page-home .top-ctn {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.page-home .top-ctn .left-side {
    display: flex;
    height: 100%;
    min-height: 500px;
    flex-direction: column;
}

.page-home .top-ctn .left-side .stores-count {
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 0.7;
}

.page-home .top-ctn .left-side .title {
    font-style: normal;
    font-weight: bold;
    font-size: 2.2em;
    margin: 0px;
}

.page-home .top-ctn .left-side .title .store {
    color: rgb(255, 203, 61);
}

.page-home .top-ctn .left-side .title .business {
    display: inline-block;
    background: linear-gradient(180deg, #0084ffe0 0%, #ae00ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.page-home .top-ctn .left-side .sub-title {
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    margin: 0px;
    opacity: 0.8;
}

.page-home .top-ctn .left-side .mobile-video {
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50px;
}

.page-home .top-ctn .left-side .btn-stores {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
}

.page-home .top-ctn .left-side .btn-stores .add-new-store:hover {
    box-shadow: 0px 4px 20px #0009;
    transform: translateY(-3px);
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.page-home .top-ctn .left-side .btn-stores .add-new-store {
    padding: 10px 10px;
    border-radius: 20px;
    background: #eee;
    color: #345;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.page-home .top-ctn .left-side .btn-stores .add-new-store .label {
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
}

.page-home .top-ctn .left-side .btn-stores .add-new-store:hover .icon {
    scale: 1.2;
}

.page-home .top-ctn .left-side .btn-stores .add-new-store .icon {
    width: 40px;
    height: 40px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    background: no-repeat center/100% url(/src/res/plus-round.png);
}

.page-home .top-ctn .left-side .search {
    width: 240px;
    height: 40px;
    margin-top: 20px;
}

.page-home .top-ctn .left-side .only-my-store {
    display: flex;
    align-items: center;
    opacity: 0.8;
}

.page-home .top-ctn .left-side .check-only-my-store.true {
    background: no-repeat center/50% url(/src/res/mark.png);
}

.page-home .top-ctn .left-side .check-only-my-store {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    filter: invert();
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px #000;
}

.page-home .top-ctn .right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.page-home .video {
    border-radius: 50px;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0px 0px 10px #fff5;
}

.page-home .home-stores {
    width: 100%;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 20px;
    margin-top: 20px;
    /* background: #0001; */
    /* background: rgba(15, 14, 71, 0.3); */
    /* backdrop-filter: blur(40px) saturate(120%) brightness(100%); */
}


@media (width <750px) {
    .page-home .top-ctn {
        flex-wrap: wrap;
    }
    
    .page-home .top-ctn .left-side .mobile-video {
        display: flex;
    }
    
    .page-home .top-ctn .right {
        display: none;
    }
}
































/*  Store Card */



.store-card:hover {
    /* mask-image: linear-gradient(rgb(255, 255, 255) 100%, rgba(255, 255, 255, 0) 100%); */
    box-shadow: var(--box-shadow);
}
.store-card.new {
    /* mask-image: linear-gradient(rgb(255, 255, 255) 100%, rgba(255, 255, 255, 0) 100%); */
    height: 260px;
    margin: 30px;
    background: radial-gradient(100% 128.38% at 100% 100%, rgba(51, 168, 253, 0.2) 0%, rgba(76, 0, 200, 0.2) 100%);
    box-shadow: rgba(39, 77, 153, 0.2) 0px 30px 60px, rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px inset;
}

.store-card {
    background: #eee;
    /* mask-image: linear-gradient(rgb(255, 255, 255) 90%, rgba(255, 255, 255, 0) 100%); */
    overflow: hidden;
    vertical-align: middle;
    width: 260px;
    height: 360px;
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
}

.store-card.new:hover .banner {
    min-height: 160px;
}

.store-card:hover .banner {
    min-height: 80px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.store-card .banner {
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    position: relative;
    width: 100%;
    min-height: 160px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.store-card .more {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    color: #fff;
    width: 100%;
    height: 80px;
    transition: 200ms;
    background: linear-gradient(#0000, #000);
}

.store-card .more .logo {
    min-width: 80px;
    height: 80px;
    border-radius: 50px;
}

.store-card .more .text {
    margin-left: 10px;
    padding-top: 10px;
}

.store-card .more .text .name {
    font-weight: bold;
    font-size: 24px;
}

.store-card .more .text .owner-email {
    opacity: 0.9;
    font-size: 0.85em;
}

.store-card .more .text .id {
    margin-top: 5px;
    font-size: 0.8em;
}

.store-card.new .store-products {
    display: none;
}

.store-card .store-products {
    height: 240px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.store-card .store-products::-webkit-scrollbar {
    display: none;
}

.store-card .store-product,
.store-card .more-product {
    height: 100px;
    width: 120px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.store-card .more-product .more-icon {
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background: #0006;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.store-card:hover .see-all {
    min-height: 40px;
    scale: 1;
    height: 40px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.store-card.new .see-all {
    height: 100% ;
    scale: 1;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.store-card .see-all {
    scale: 0;
    height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.store-card .see-all .btn {
    /* background: #345; */
    /* color: #345; */
    text-decoration: underline;
    position: inherit;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
}

@media (width <1000px) {
    .store-card{
        scale: 0.8;
        margin: -10px;
    }

}
@media (width <500px) {
    .store-card{
        scale: 0.8;
    }

}