.vert-ctn-products{
  position: absolute;
  height: 100%;
  width: 220px; 
}

.vert-ctn-products .products:hover {
  width: 350px;
  transition: 0ms;
}

.vert-ctn-products .products {
  position: absolute;
  overflow-y: hidden;
  overflow-x: visible;
  /* background: #345;*/
  transition: 1000ms;
  width: 250px;
  height: 100%;
}

.vert-ctn-products .product {
  cursor: pointer;
  filter: none;
  margin: 5px 30px;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.vert-ctn-products .products::-webkit-scrollbar {
  width: 10px;
}

.vert-ctn-products .products::-webkit-scrollbar-track {
  background: #88888800;
}

.vert-ctn-products .products::-webkit-scrollbar-thumb {
  background: #88888800;
}

.vert-ctn-products .products::-webkit-scrollbar-thumb:hover {
  background: #55555500;
}
