.role-dash{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.role-dash .editor {
    margin: 20px 0;
    width: 100% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.644);
    box-shadow: 0px 0px 10px #3455;
    border-radius: 20px;
}


.role-dash .editor>div {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
}

.role-dash .editor>div>div {
    width: 100%;
    margin-top: 10px;
}

.role-dash .editor+h1 {
    margin: 20px 0;
}
